body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
}


.header{
    height: 700px;
    position: relative;
    background: linear-gradient(0deg,  0%,  100%), linear-gradient(0deg, #E9DED4 0%, #E9DED4 100%);
    background-image: url(img/1920.png);
    background-size: 100% 700px;
}
.header-text1{
    width: 542px; left: 0px; top: 0px; position: absolute; color: #313131; font-size: 60px; font-family: Merriweather; font-weight: 400; text-transform: uppercase; line-height: 66px; word-wrap: break-word
}
.Content{
    width: 542px;
    height: 444px; 
    left: 72px; 
    top: 124px; 
    position: absolute;
}
.Headline-text1{
    width: 542px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    color: #313131; 
    font-size: 60px; 
    font-family: Merriweather; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 66px; 
    word-wrap: break-word
}
.Headline-text2{
    left: 91px;
    top: 132px; 
    position: absolute; 
    text-align: right; 
    color: #313131; 
    font-size: 60px; 
    font-family: Merriweather; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 66px; 
    word-wrap: break-word
}
.Headline-text3{
    width: 542px; 
    left: 0px; 
    top: 198px; 
    position: absolute; 
    text-align: right; 
    color: #313131; 
    font-size: 60px; 
    font-family: Merriweather; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 66px; 
    word-wrap: break-word
}
.btns{
    width: 542px; left: 0px; top: 374px; position: absolute; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex
}
.btn1, .btn2 {
    width: 263px;
    height: 72px;
    padding: 20px;
    border-radius: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn1 {
    background: #1F1F1F;
    border: none;
    cursor: pointer;
}
.btn1 .btn1-label {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.btn2 {
    background: none;
    border: 2px solid #1F1F1F;
    cursor: pointer;
}
.btn2 .btn2-label {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 500;
}
.btn1:hover {
    background: #FFB800;
}
.btn1:hover .btn1-label {
    color: #1F1F1F;
}
.btn2:hover {
    background: #1F1F1F;
}
.btn2:hover .btn2-label {
    color: white;
}
.section {
    display: flex;
    overflow-x: hidden; 
    height: 60px; 
    background: #F54932; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 12px; 
    display: inline-flex"
    
 }

 .section div {
   font-size: sans-serif;
   white-space: nowrap;
   display: inline-block;
   text-align: right; 
   color: white; 
   font-size: 22px; 
   font-family: Merriweather; 
   font-weight: 400; 
   text-transform: uppercase; 
   line-height: 24.20px; 
   word-wrap: break-word
 }

 .div1 {
     animation: marquee1 20s infinite linear;
     animation-delay: -20s;
 }

 .div2 {
     animation: marquee2 20s infinite linear;
     animation-delay: -10s;
 }


 .section div:after {
     content: '';
 }

@keyframes marquee1 {
     0% {
         transform: translateX(100%);
     }
     100% {
         transform: translateX(-100%);
     }
 }

 @keyframes marquee2 {
     0% {
         transform: translateX(0%);
     }
     100% {
         transform: translateX(-200%);
     }
 }

.tournament{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
 .tournament-content{
    width: 764px;
    height: 195.43px;

     
 }
.tournament-text{
    color: #313131;
    font-size: 36px;
    font-family: Merriweather;
    font-weight: 400; 
    text-transform: uppercase;
    line-height: 48.60px;
    word-wrap: break-word
}
.tournament-text-red{
    color: #F54932;
    font-size: 36px; 
    font-family: Merriweather;
    font-weight: 700; 
    text-transform: uppercase;
    line-height: 48.60px; 
    word-wrap: break-word
}

.event-highlight{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
.chess-master-img{
    width:474px;
    height:527px;
}
.event-content{
    margin-left: 44px;
}
table {
    width: 80%; /* Контроль ширины таблицы */
    margin-top: 60px;
    margin-left: 44px;
    border-collapse: collapse; /* Слияние границ ячеек */
    border: none; /* Убираем рамку вокруг таблицы */
}

th, td {
    padding: 16px; /* Отступы внутри ячеек */
    border-bottom: 2px solid #ccc; /* Тонкая линия только внизу каждой ячейки */
    text-align: left; /* Выравнивание текста по левому краю */
}

table th {
    color: #EDB749;
    border-bottom: 2px solid #D0D0D0;
    padding: 12px 17px;
  }
  table td {
    color: #313131;
    border-bottom: 2px solid #D0D0D0;
    border-right:2px solid #D0D0D0;
    padding: 7px 17px;
    width: 290px; color: #313131; font-size: 20px; font-family: Golos Text; font-weight: 400; line-height: 24px; word-wrap: break-word
  }
  table tr:last-child td {
    border-bottom: none;
  }
  table td:last-child {
    border-right: none;
  }
  table tr:hover td {
    text-decoration: underline;
  }
.left-table-text{
    width: 290px; opacity: 0.70; color: #313131; font-size: 20px; font-family: Golos Text; font-weight: 400; line-height: 24px;
     word-wrap: break-word

}
del{
    text-decoration: line-through 2px #ff0000;
}
.event-link{
    margin-left: 62px;
    width: 704px; 
    color: #3057A2; 
    font-size: 20px;
    font-family: Golos Text; 
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}


.grid-containers {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.grid-title {
    text-align: center;
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 1222px;
}
.grid-item {
    display: flex;
    background-color: #f0e6d6;
    border-radius: 8px;
    padding: 20px;
    display: flex;
  
    align-items: center;
}
.grid-item h3 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    display: flex;
    font-size: 20px;
    background-color: #fff;
}
.grid-item p {
    margin: 0;
    text-align: center;
     color: #313131; font-size: 20px; font-family: Golos Text; font-weight: 500; line-height: 24px; word-wrap: break-word
}
.grid-item:nth-child(3) {
    grid-row: span 2;
}
.grid-item:nth-child(1) { grid-column: 1 / span 1; }
.grid-item:nth-child(2) { grid-column: 2 / span 1; }
.grid-item:nth-child(3) { grid-column: 3 / span 1; }
.grid-item:nth-child(4) { grid-column: 1 / span 1; }
.grid-item:nth-child(5) { grid-column: 2 / span 1; }
.grid-item:nth-child(6) { grid-column: 1 / span 1; }
.grid-item:nth-child(7) { grid-column: 2 / span 2; }

.image {
    grid-column: 3 / span 1;
    align-self: center;
    text-align: center;
    margin-top: 20px;
}
.image img {
    max-width: 100%;
    border-radius: 8px;
}



.carousel-container{
    margin-bottom: 140px;
    margin-top: 200px;
}
.carousel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.carousel h1 {
    margin: 0;
    font-size: 2em;
}
.carousel-grid-container {
    gap: 140px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.participant {
    text-align: center;
}
.participant img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 20px;
}
.participant h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}
.participant p {
    margin: 0 0 20px 0;
    color: #555;
}
.participant button {
    padding: 10px 20px;
    border: 1px solid #007BFF;
    background-color: #fff;
    color: #007BFF;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.participant button:hover {
    background-color: #007BFF;
    color: #fff;
}
.carousel {
    position: absolute;
    right: 330px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}
.carousel span {
    cursor: pointer;
    font-size: 2em;
    user-select: none;
    border: 2px solid #313131;
    background: #313131;
    color: #fff;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel span:hover {
    background: #FBCE51;
    border-color: #FBCE51;
}
.carousel div {
    font-size: 1.2em;
}